In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
ticket = dict(df['Ticket'].head())
ticket

{0: 'A/5 21171',
 1: 'PC 17599',
 2: 'STON/O2. 3101282',
 3: '113803',
 4: '373450'}

In [18]:
age = list(df['Age'].head())
print(age)
sex = list(df['Sex'].head())
new_dct = dict(zip(age, sex))
new_dct

[22.0, 38.0, 26.0, 35.0, 35.0]

{22.0: 'male', 38.0: 'female', 26.0: 'female', 35.0: 'male'}

In [1]:
# new = df.to_dict(orient = 'records')
# new

In [16]:
type(df.loc[0])
dict(df.loc[0])

{'PassengerId': 1,
 'Survived': 0,
 'Pclass': 3,
 'Name': 'Braund, Mr. Owen Harris',
 'Sex': 'male',
 'Age': 22.0,
 'SibSp': 1,
 'Parch': 0,
 'Ticket': 'A/5 21171',
 'Fare': 7.25,
 'Cabin': nan,
 'Embarked': 'S'}

In [20]:
type(df.loc[0])

pandas.core.series.Series

In [61]:
# How clear() method works for dictionaries?
age_dict = dict(df['Age'].head())
print(age_dict).head()
age_dict.clear()
age_dict

{0: 22.0, 1: 38.0, 2: 26.0, 3: 35.0, 4: 35.0}

{}

In [13]:
# How copy works for dictionaries?
orgnl_age = dict(df['Age'].head())
print(orgnl_age)
copy_age = orgnl_age.copy()
print(copy_age)

{0: 22.0, 1: 38.0, 2: 26.0, 3: 35.0, 4: 35.0}
{0: 22.0, 1: 38.0, 2: 26.0, 3: 35.0, 4: 35.0}

In [14]:
# Using = Operator to Copy Dictionaries
orgnl_age = dict(df['Age'].head())
print(orgnl_age)
copy_age = orgnl_age
print(copy_age)

{0: 22.0, 1: 38.0, 2: 26.0, 3: 35.0, 4: 35.0}
{0: 22.0, 1: 38.0, 2: 26.0, 3: 35.0, 4: 35.0}

In [41]:
name = list(df['Name'].head())
ticket = list(df['Ticket'].head())
new_dict = dict(zip(name, ticket))
new_dict

{'Braund, Mr. Owen Harris': 'A/5 21171',
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)': 'PC 17599',
 'Heikkinen, Miss. Laina': 'STON/O2. 3101282',
 'Futrelle, Mrs. Jacques Heath (Lily May Peel)': '113803',
 'Allen, Mr. William Henry': '373450'}

In [17]:
# Create a dictionary from a sequence of keys
keys = {'a', 'e', 'i', 'o', 'u' }
vowels = dict.fromkeys(keys)
print(vowels)

{'a': None, 'e': None, 'o': None, 'u': None, 'i': None}

In [50]:
name = list(df['Name'].head())
dict.fromkeys(name)

{'Braund, Mr. Owen Harris': None,
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)': None,
 'Heikkinen, Miss. Laina': None,
 'Futrelle, Mrs. Jacques Heath (Lily May Peel)': None,
 'Allen, Mr. William Henry': None}

In [18]:
# Create a dictionary from a sequence of keys with value
keys = {'a', 'e', 'i', 'o', 'u' }
value = 'vowel'
vowels = dict.fromkeys(keys, value)
print(vowels)

{'a': 'vowel', 'e': 'vowel', 'o': 'vowel', 'u': 'vowel', 'i': 'vowel'}

In [65]:
ticket = list(df['Ticket'].head())
value = 'Ticket Number'
vowels = dict.fromkeys(ticket, value)
print(vowels)

{'A/5 21171': 'Ticket Number', 'PC 17599': 'Ticket Number', 'STON/O2. 3101282': 'Ticket Number', '113803': 'Ticket Number', '373450': 'Ticket Number'}

In [19]:
# Create a dictionary from mutable object list
keys = {'a', 'e', 'i', 'o', 'u' }
value = [1]

vowels = dict.fromkeys(keys, value)
print(vowels)

value.append(2)
print(vowels)

{'a': [1], 'e': [1], 'o': [1], 'u': [1], 'i': [1]}
{'a': [1, 2], 'e': [1, 2], 'o': [1, 2], 'u': [1, 2], 'i': [1, 2]}

In [64]:
tkt = list(df['Ticket'].head())
v = [1]

new = dict.fromkeys(tkt, v)
print(new)

v.append(2)
print(new)

{'A/5 21171': [1], 'PC 17599': [1], 'STON/O2. 3101282': [1], '113803': [1], '373450': [1]}
{'A/5 21171': [1, 2], 'PC 17599': [1, 2], 'STON/O2. 3101282': [1, 2], '113803': [1, 2], '373450': [1, 2]}

In [5]:
keys = {'a', 'e', 'i', 'o', 'u' }
value = [1]
vowels = { key : list(value) for key in keys }
print(vowels)
value.append(2)
print(vowels)

{'i': [1], 'u': [1], 'e': [1], 'o': [1], 'a': [1]}
{'i': [1], 'u': [1], 'e': [1], 'o': [1], 'a': [1]}

In [8]:
# How get() works for dictionaries?
person = {'name': 'Sourav', 'age': 28}

print('Name: ', person.get('name'))
print('Age: ', person.get('age'))

# without value
print('Salary: ', person.get('salary'))

# with value
print('Salary: ', person.get('salary', 10000.00))

Name:  Sourav
Age:  28
Salary:  None
Salary:  10000.0

In [23]:
# Get all items of a dictionary with items()
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }

print(sales.items())

dict_items([('apple', 2), ('orange', 3), ('grapes', 4)])

In [76]:
name = list(df['Name'].head())
ticket = list(df['Ticket'].head())
new_dict = dict(zip(name, ticket))
print(new_dict)
print('Items := ', new_dict.items())
print('Key := ', new_dict.keys())
print('Values := ', new_dict.values())

{'Braund, Mr. Owen Harris': 'A/5 21171', 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)': 'PC 17599', 'Heikkinen, Miss. Laina': 'STON/O2. 3101282', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)': '113803', 'Allen, Mr. William Henry': '373450'}
Items :=  dict_items([('Braund, Mr. Owen Harris', 'A/5 21171'), ('Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'PC 17599'), ('Heikkinen, Miss. Laina', 'STON/O2. 3101282'), ('Futrelle, Mrs. Jacques Heath (Lily May Peel)', '113803'), ('Allen, Mr. William Henry', '373450')])
Key :=  dict_keys(['Braund, Mr. Owen Harris', 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'Heikkinen, Miss. Laina', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'Allen, Mr. William Henry'])
Values :=  dict_values(['A/5 21171', 'PC 17599', 'STON/O2. 3101282', '113803', '373450'])

In [24]:
# How items() works when a dictionary is modified?
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }

items = sales.items()
print('Original items:', items)

# delete an item from dictionary
del[sales['apple']]
print('Updated items:', items)

Original items: dict_items([('apple', 2), ('orange', 3), ('grapes', 4)])
Updated items: dict_items([('orange', 3), ('grapes', 4)])

In [77]:
print(new_dict)

del[new_dict['Braund, Mr. Owen Harris']]

print(new_dict)

{'Braund, Mr. Owen Harris': 'A/5 21171', 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)': 'PC 17599', 'Heikkinen, Miss. Laina': 'STON/O2. 3101282', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)': '113803', 'Allen, Mr. William Henry': '373450'}
{'Cumings, Mrs. John Bradley (Florence Briggs Thayer)': 'PC 17599', 'Heikkinen, Miss. Laina': 'STON/O2. 3101282', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)': '113803', 'Allen, Mr. William Henry': '373450'}

In [25]:
# How keys() works?
person = {'name': 'Sourav', 'age': 22, 'salary': 3500.0}
print(person.keys())

empty_dict = {}
print(empty_dict.keys())

dict_keys(['name', 'age', 'salary'])
dict_keys([])

In [26]:
print(new_dict.keys())

print(new_dict.values())

dict_keys(['Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'Heikkinen, Miss. Laina', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'Allen, Mr. William Henry', 'Sourav Das'])
dict_values(['PC 17599', 'STON/O2. 3101282', '113803', '373450', 237736])

In [73]:
# How keys() works when dictionary is updated?
person = {'name': 'Sourav', 'age': 28, }

print('Before dictionary is updated')
keys = person.keys()
print(keys)

person.update({'salary': 3500.0})
print('\nAfter dictionary is updated')
print(keys)

Before dictionary is updated
dict_keys(['name', 'age'])

After dictionary is updated
dict_keys(['name', 'age', 'salary'])

In [74]:
new_dict.update({'Banti Das': 2377333})
print('After Update :-')
print(new_dict.keys())
print(new_dict.values())

After Update :-
dict_keys(['Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'Heikkinen, Miss. Laina', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'Allen, Mr. William Henry', 'Banti Das'])
dict_values(['PC 17599', 'STON/O2. 3101282', '113803', '373450', 2377333])

In [32]:
# Working of popitem() method
person = {'name': 'Sourav', 'age': 28, 'salary': 10000.0}

result = person.popitem()

print('Return Value = ', result)
print('person = ', person)

# inserting a new element pair
person['profession'] = 'Intern'

result = person.popitem()

print('Return Value = ', result)
print('person = ', person)

Return Value =  ('salary', 10000.0)
person =  {'name': 'Sourav', 'age': 28}
Return Value =  ('profession', 'Intern')
person =  {'name': 'Sourav', 'age': 28}

{'name': 'Sourav', 'age': 28}

In [33]:
popitem = new_dict.popitem()

print('Popped Item = ', popitem)

new_dict['Banti'] = '45862/NJK/693'
new_dict

Popped Item =  ('Banti Das', 2377333)

{'Cumings, Mrs. John Bradley (Florence Briggs Thayer)': 'PC 17599',
 'Heikkinen, Miss. Laina': 'STON/O2. 3101282',
 'Futrelle, Mrs. Jacques Heath (Lily May Peel)': '113803',
 'Allen, Mr. William Henry': '373450',
 'Banti': '45862/NJK/693'}

In [31]:
# How setdefault() works when key is in the dictionary?
person = {'name': 'Sourav', 'age': 28}

age = person.setdefault('age')
print('person = ',person)
print('Age = ',age)

person =  {'name': 'Sourav', 'age': 28}
Age =  28

In [34]:
nw_dct = new_dict.setdefault('Banti')
print(new_dict)
nw_dct

{'Cumings, Mrs. John Bradley (Florence Briggs Thayer)': 'PC 17599', 'Heikkinen, Miss. Laina': 'STON/O2. 3101282', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)': '113803', 'Allen, Mr. William Henry': '373450', 'Banti': '45862/NJK/693'}

'45862/NJK/693'

In [56]:
# How setdefault() works when key is not in the dictionary?
person = {'name': 'Sourav'}

# key is not in the dictionary
salary = person.setdefault('salary')
print('person = ',person)
print('salary = ',salary)

# key is not in the dictionary
# default_value is provided
age = person.setdefault('age', 28)
print('person = ',person)
print('age = ',age)

person =  {'name': 'Sourav', 'salary': None}
salary =  None
person =  {'name': 'Sourav', 'salary': None, 'age': 28}
age =  28

In [39]:
a = new_dict.copy()
a
nw = new_dict.setdefault('Sourav')
print('Sourav = ',nw)
print('Dict = ',a)
print('Keys : = ', a.keys())
print('Values := ', a.values())

Sourav =  None
Dict =  {'Cumings, Mrs. John Bradley (Florence Briggs Thayer)': 'PC 17599', 'Heikkinen, Miss. Laina': 'STON/O2. 3101282', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)': '113803', 'Allen, Mr. William Henry': '373450', 'Banti': '45862/NJK/693', 'Sourav': None}
Keys : =  dict_keys(['Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'Heikkinen, Miss. Laina', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'Allen, Mr. William Henry', 'Banti', 'Sourav'])
Values :=  dict_values(['PC 17599', 'STON/O2. 3101282', '113803', '373450', '45862/NJK/693', None])

In [41]:
# default_value is provided
Das = a.setdefault('Das', '5863/HYE/696')
print(a)
print(Das)

{'Cumings, Mrs. John Bradley (Florence Briggs Thayer)': 'PC 17599', 'Heikkinen, Miss. Laina': 'STON/O2. 3101282', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)': '113803', 'Allen, Mr. William Henry': '373450', 'Banti': '45862/NJK/693', 'Sourav': None, 'Das': '5863/HYE/696'}
5863/HYE/696

In [40]:
# Pop an element from the dictionary
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }

element = sales.pop('apple')
print('The popped element is:', element)
print('The dictionary is:', sales)

The popped element is: 2
The dictionary is: {'orange': 3, 'grapes': 4}

In [44]:
print(a)
print('Popped Items := ', a.pop('Das'))
a

{'Cumings, Mrs. John Bradley (Florence Briggs Thayer)': 'PC 17599', 'Heikkinen, Miss. Laina': 'STON/O2. 3101282', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)': '113803', 'Allen, Mr. William Henry': '373450', 'Banti': '45862/NJK/693', 'Sourav': None, 'Das': '5863/HYE/696'}
Popped Items :=  5863/HYE/696

{'Cumings, Mrs. John Bradley (Florence Briggs Thayer)': 'PC 17599',
 'Heikkinen, Miss. Laina': 'STON/O2. 3101282',
 'Futrelle, Mrs. Jacques Heath (Lily May Peel)': '113803',
 'Allen, Mr. William Henry': '373450',
 'Banti': '45862/NJK/693',
 'Sourav': None}

In [35]:
# Pop an element not present from the dictionary
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }

element = sales.pop('guava')

KeyError: 'guava'

In [45]:
print('Popped Items := ', a.pop('Das'))

KeyError: 'Das'

In [12]:
# Pop an element not present from the dictionary, provided a default value
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }

element = sales.pop('guava', 'banana')
print('The popped element is:', element)
print('The dictionary is:', sales)

The popped element is: banana
The dictionary is: {'apple': 2, 'orange': 3, 'grapes': 4}

In [37]:
# Get all values from the dictionary
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }

print(sales.values())

dict_values([2, 3, 4])

In [47]:
print(new_dict)
print(new_dict.values())

{'Cumings, Mrs. John Bradley (Florence Briggs Thayer)': 'PC 17599', 'Heikkinen, Miss. Laina': 'STON/O2. 3101282', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)': '113803', 'Allen, Mr. William Henry': '373450', 'Banti': '45862/NJK/693', 'Sourav': None}
dict_values(['PC 17599', 'STON/O2. 3101282', '113803', '373450', '45862/NJK/693', None])

In [38]:
# How values() works when dictionary is modified?
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }

values = sales.values()
print('Original items:', values)

del[sales['apple']]
print('Updated items:', values)

Original items: dict_values([2, 3, 4])
Updated items: dict_values([3, 4])

In [58]:
print(new_dict)

del[new_dict['Banti']]
values = new_dict.values()
print('Updated items:', values)
print(new_dict)

{'Cumings, Mrs. John Bradley (Florence Briggs Thayer)': 'PC 17599', 'Heikkinen, Miss. Laina': 'STON/O2. 3101282', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)': '113803', 'Allen, Mr. William Henry': '373450', 'Banti': '45862/NJK/693'}
Updated items: dict_values(['PC 17599', 'STON/O2. 3101282', '113803', '373450'])
{'Cumings, Mrs. John Bradley (Florence Briggs Thayer)': 'PC 17599', 'Heikkinen, Miss. Laina': 'STON/O2. 3101282', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)': '113803', 'Allen, Mr. William Henry': '373450'}

In [39]:
# Working of update()
d = {1: "one", 2: "three"}
d1 = {2: "two"}

# updates the value of key 2
d.update(d1)
print(d)

d1 = {3: "three"}

# adds element with key 3
d.update(d1)
print(d)

{1: 'one', 2: 'two'}
{1: 'one', 2: 'two', 3: 'three'}

In [94]:
p = {1: 'fg', 2: 'jh'}
l = {2: 'kl'}

p.update(l)
print(p)

l = {3: 'op'}

p.update(l)
print(p)

{1: 'fg', 2: 'kl'}
{1: 'fg', 2: 'kl', 3: 'op'}

In [40]:
# update() When Tuple is Passed
d = {'x': 2}

d.update(y = 3, z = 0)
print(d)

{'x': 2, 'y': 3, 'z': 0}

In [90]:
age = dict(df['Age'].head(8))
print(age)
# age.update(8 = 65.0, 9 = 66)
# print(age)

{0: 22.0, 1: 38.0, 2: 26.0, 3: 35.0, 4: 35.0, 5: nan, 6: 54.0, 7: 2.0}

In [91]:
f = {'j': 5}
f.update(k = 6, l = 7)
print(f)

{'j': 5, 'k': 6, 'l': 7}